{% extends 'auth.base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}
    <p class="login-box-msg">Entrer votre nom d'utilisateur pour récupérer votre compte</p>

    {{ form_start(form) }}

    <div class="input-group mb-3">
        {{ form_widget(form.plainPassword.first) }}
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>

    <div class="input-group mb-3">
        {{ form_widget(form.plainPassword.second) }}
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
