{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>150</h3>

                    <p>Arrivées</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">Voir la liste <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>53</h3>

                    <p>Départs</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Voir la liste <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>44<sup style="font-size: 20px">%</sup></h3>

                    <p>Taux d'occupation</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">Voir détails <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>65.000</h3>

                    <p>MAD</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">Voir détails <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Arrivées clients du jour</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Prénom & Nom</th>
                            <th>CIN / Passport</th>
                            <th>Nationalité</th>
                            <th style="width: 90px">% fiche</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-danger">30%</span></td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-warning">70%</span></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-success">100%</span></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-success">100%</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div><!-- /.col-md-6 -->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Départs clients du jour</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Prénom & Nom</th>
                            <th>CIN / Passport</th>
                            <th>Nationalité</th>
                            <th style="width: 90px">% fiche</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-success">100%</span></td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-success">100%</span></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-success">100%</span></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Karim SENHAJI</td>
                            <td>EE130459</td>
                            <td>Marocaine</td>
                            <td><span class="badge bg-success">100%</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">Clients de la semaine</h3>
                        <a href="javascript:void(0);">Voir le raport</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <p class="d-flex flex-column">
                            <span class="text-bold text-lg">1350</span>
                            <span>Nombre de clients</span>
                        </p>
                        <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                      <i class="fas fa-arrow-up"></i> 12.5%
                    </span>
                            <span class="text-muted">Depuis la semaine dernière</span>
                        </p>
                    </div>
                    <!-- /.d-flex -->

                    <div class="position-relative mb-4">
                        <canvas id="visitors-chart" height="200"></canvas>
                    </div>

                    <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> Cette semaine
                  </span>

                        <span>
                    <i class="fas fa-square text-gray"></i> Dernière semaine
                  </span>
                    </div>
                </div>
            </div>
        </div><!-- /.col-md-6 -->

        <div class="col-md-6">

        </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
{% endblock %}

{% block javascript %}

    {{ parent() }}

{% endblock %}
